{% include 'header.html' %}
<main>
					<div class="container-lg my-5">
						<div id="myCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">

							<!-- carousel -->
							<div class="carousel-inner" style = "">
								<div class="carousel-item active">
									<img src="{{ best_sellers.0.url_alt }}" class="d-block w-100" alt="Slide 1" style = "border-radius: 25px;">
										<div class="carousel-caption d-none d-md-block" style = "background-color: black; opacity: 0.5;">
											<h5 style = "color: white;">{{ best_sellers.0.nom }}</h5>
											<p style = "color: white;">{{ best_sellers.0.description}}</p>
										</div>
								</div>
								<div class="carousel-item">
									<img src="{{ best_sellers.1.url_alt }}" class="d-block w-100" alt="Slide 2" style = "border-radius: 25px;">
									<div class="carousel-caption d-none d-md-block" style = "background-color: black; opacity: 0.5;">
										<h5 style = "color: white;">{{ best_sellers.1.nom }}</h5>
										<p style = "color: white;">{{ best_sellers.1.description }}</p>
									</div>
								</div>
								<div class="carousel-item">
									<img src="{{ best_sellers.2.url_alt }}" class="d-block w-100" alt="Slide 3" style = "border-radius: 25px;">
									<div class="carousel-caption d-none d-md-block" style = "background-color: black; opacity: 0.5;">
										<h5 style = "color: white;">{{ best_sellers.2.nom }}</h5>
										<p style = "color: white;">{{ best_sellers.2.description }}</p>
									</div>
								</div>
							</div>

							<!-- fleches du carousel -->
							<a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
								<span class="carousel-control-prev-icon"></span>
							</a>
							<a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
								<span class="carousel-control-next-icon"></span>
							</a>
						</div>
					</div>

					<div class="titreBox">
						<hr>
						<div class="" style="background-color:#A6580A;padding:10px; border-radius: 5px">
							<h4 style = "text-align: left; margin:0; color:white;">Les Jeux :</h4>
						</div>
					</div>

					<div class = "container" style = "background-color:#f4f4f3">

						<div class = "row">
						<!-- affichage des articles -->
                            {% for article in article_list %}
								<div class = "col-md-2" >
									<div class = "container listeJeux">
										<a href = "article/article.html?product={{ article.idarticle }}" ><img src = "{{ article.url }}" class = "articles_image" alt = ""/></a>
										<div class = "info_produit">
											<h4>{{ article.nom }}</h4>
											<hr>
											<h5>{{ article.prix }} €</h5>
										</div>
									</div>
								</div>
                            {% endfor %}
						</div>

					</div>

				</main>
			</body>
        {% include 'footer.html' %}