                <footer>
					<div class = "container py-5">
						<div class = "row px-4">
							<div class = "col-md-4">

								<a href = "index.php?module=mod_connexion&action=connecter" id = "footer_se_connecter"><i class="bi bi-person-circle"></i></a>
							</div>
							<div class = "col-md-4">
							<a href="https://fr-fr.facebook.com/"target = "_blank"><i class="bi bi-facebook" ></i></a>
								<a href = "https://twitter.com/?lang=fr" class = "reseaux" target = "_blank"><i class="bi bi-twitter"></i></a>
								<a href = "https://www.instagram.com/?hl=fr" class = "reseaux" target = "_blank"><i class="bi bi-instagram"></i></a>

							</div>

							<div class = "col-md-4">
								<a href = "index.php?module=mod_inscription&action=inscrire" class = "site">S'incrire</a>
							</div>
						</div>
					</div>
				</footer>