#navCategories {
    display: inline-block;
    text-align: center;
    width: 100%;
}

#categories {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#categories li {
    float: left;
}

#categories li a {
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bi {
    font-size: 30px;
}

/* POUR LE CORPS */

.imgClient {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.divArrondi {
    border-radius: 10px;
}

.divGrisClair {
    background-color: #E3E3E3;
    margin: 15px;
}

.Buttons {
    display: grid;
    text-align: center;
    width: 100%;
}

.textButton {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

#divGauche {
    display: inline-block;
    background-color: #C4C4C4;
    max-width: 30%;
}

#divDroite {
    display: inline-block;
    max-width: 60%;
    float: right;
    background-color: #C4C4C4;
}

.divDroited {
    display: inline-block;
    max-width: 40%;
}

.divDroidedDeux {
    float: right;
}

.bi-arrow-bar-right {
    float: right;
}

/* POUR LE CORPS RESPONSIVE */

@media only screen and (max-width: 600px) {
    #divGauche {
        max-width: 100%;
    }

    #divDroite {
        margin-top: 15px;
        max-width: 100%;
    }

    .divDroited {
        max-width: 100%;
        margin: 8px 0 8px 0;
    }

    .divDroidedDeux {
        max-width: 100%;
        margin: 0 !important;
    }

    .divdroiteb {
        display: inline-block;
        width: 100%;
        margin: 8px 0 8px 0;
    }
}

/* POUR LA PAGE PRODUIT */

.divInfoProduit {
    text-align: center;
    margin-top: 10%;
}

.btn-wishlist {
    display: inline !important;
}

.commentaires {
    max-width: 450px;
}

#titreArticle {

    display: block;
    text-align: center;
}

.imgArticle {
    max-width: 250px;
    max-height: 425px;
    position: relative;
    left: 30%;

}

.prixArticle {
    background-color: #cc6600;
    border-radius: 7px;
    color: white;
    padding: 10px;
}

.div {
    max-width: 900px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border: 2px dashed #f69c55;
}

.span {
    width: 75%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.desc {
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.texte {
    margin-top: 5%;
}


/* Commentaire */

.divComm {
    margin-bottom: 5%;
}


.divCom {
    position: relative;
    left: 10%;

}

#commentaire {
    display: inline-block;
}


/* CART */

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #E0E0E0;
    color: #000000
}

ul {
    list-style: none;
    margin-bottom: 0px
}

.button {
    display: inline-block;
    background: #0e8ce4;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px
}

.button:hover {
    opacity: 0.8
}

.cart_section {
    width: 100%;
    padding-top: 93px;
    padding-bottom: 111px
}

.cart_title {
    font-size: 30px;
    font-weight: 500
}

.cart_items {
    margin-top: 8px
}

.cart_list {
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff
}

.cart_item {
    width: 100%;
    padding: 15px;
    padding-right: 46px
}

.cart_item_image {
    width: 133px;
    height: 133px;
    float: left
}

.cart_item_image img {
    max-width: 100px;
}

.cart_item_info {
    width: calc(100% - 133px);
    float: left;
    padding-top: 18px
}

.cart_item_name {
    margin-left: 7.53%
}

.cart_item_title {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5)
}

.cart_item_text {
    font-size: 18px;
    margin-top: 35px
}

.cart_item_text span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 11px;
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px)
}

.cart_item_quantity {
    text-align: right;
}

.cart_item_price {
    text-align: right
}

.cart_item_total {
    text-align: right
}

.order_total {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-right: 46px;
    padding-left: 15px;
    background-color: #fff
}

.order_total_title {
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 60px
}

.order_total_amount {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    line-height: 60px
}

.cart_buttons {
    margin-top: 60px;
    text-align: right
}

.cart_button_clear {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    border: solid 1px #b2b2b2;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    margin-right: 26px
}

.cart_button_clear:hover {
    border-color: #0e8ce4;
    color: #0e8ce4
}

.cart_button_checkout {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    vertical-align: top
}

/*FOR LOGIN PAGE*/

.ftco-section {
    padding: 7em 0;
}

.login-wrap {
    position: relative;
    background: #000232;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.login-wrap h3 {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.login-wrap p {
    color: rgba(255, 255, 255, 0.5);
}

.login-wrap .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form-group {
    position: relative;
}

.form-group .icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 48px;
    background: transparent;
    font-size: 18px;
}

.form-group .icon span {
    color: #fff;
}


/* FOR COMMENT SECTION */

#clicked {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px
}

#profile {
    background-color: unset
}

#post {
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%
}

#nav-items li a,
#profile {
    text-decoration: none;
    color: rgb(224, 219, 219);
    background-color: black
}

.comments {
    margin-top: 5%;
    margin-left: 20px
}

.darker {
    border: 1px solid #ecb21f;
    background-color: black;
    float: right;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
}

.comment {
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(16, 46, 46, 0.973);
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
}

.comment h4,
.comment span,
.darker h4,
.darker span {
    display: inline
}

.comment p,
.comment span,
.darker p,
.darker span {
    color: rgb(184, 183, 183)
}

.comments_section h1,
.comments_section h4 {
    color: white;
    font-weight: bold
}


label {
    color: rgb(212, 208, 208)
}

#align-form {
    margin-top: 20px
}

.form-group p a {
    color: white
}

#checkbx {
    background-color: black
}

#darker img {
    margin-right: 15px;
    position: static
}

.form-group input,
.form-group textarea {
    background-color: black;
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 12px
}

.comments_section form {
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(16, 46, 46, 0.973);
    border-radius: 5px;
    padding: 20px
}