{% include 'header.html' %}

<body>
<main class="container">
    <div class="container">
        <div class="row">
            <h1 id="titreArticle">{{ object.nom }} </h1>
            <div class="col-4"><img class="img-fluid imgArticle" data-image="black"
                                    src="{{ object.url }}" alt="">
            </div>
            <div class="div col-4">
                <span class="span">
                    <div class="row">
                    <div class="product-infos col">
                        <div class="" style="line-height: 30px">
                            <span class="span">
                                {{ object.prix }} €
                            </span>
                        </div>
                    </div>
                    <div class="product-infos col">
                        <form action="buy_item" method="GET">
                            <button type="button" class="btn btn-primary article "
                                    onclick="location.href='{% url "?produit=4/buy" %}'" name="buy_item"> Achat
                            </button>
                        </form>
                    </div>
                    <div class="product-infos col-6">
{#                        <input class="btn btn-primary" id="submit" name="submit" type="submit" value="submit" onclick="location.href='{% url 'add_cart' %}'">#}
{#                        <button type="button" class="btn btn-primary article"#}
{#                        onclick="location.href='{% url 'add_cart' %}'" name="add_cart_btn" value="{{ object.idarticle }}"> Ajouter Au Panier</button>#}
                        <form action="/article/article.html/add_cart?product={{ object.idarticle }}" method="get">
                            <input id="product" type="text" name="product" value="{{ object.idarticle }}" hidden="True">
                            <input class="btn btn-primary" type="submit" value="Ajouter au panier">
                        </form>
                    </div>
                </div>
                </span>
            </div>

        </div>
    </div>

    <div class="product-description desc">
        <h3>Description :</h3>
        <p>{{ object.description }}</p>
    </div>

    <section class="comments_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6 col-12 pb-4">
                    <h1 style="color:black">Commentaires</h1>
                    <div class="text-justify darker mt-4 float-right"><img src="https://i.imgur.com/CFpa3nK.jpg" alt=""
                                                                           class="rounded-circle" width="40"
                                                                           height="40">
                        <h4>Rob Simpson</h4> <span>- 20 October, 2018</span> <br>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic
                            aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                    <form id="algin-form">
                        <div class="form-group">
                            <h4>Laisser un commentaire</h4> <label for="message">Commentaire</label> <textarea name="msg" id="" msg
                                                                                                    cols="30" rows="5"
                                                                                                    class="form-control"
                                                                                                    style="background-color: black;color:white"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" id="post" class="btn">Ajouter un commentaire</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {#    <div class="container commentaires" style="">#}
    {#        <h3>Commentaires :</h3>#}

    {#        <div class="overflow-auto">#}
    {#            <?php foreach($dataComments as $comment):?>#}
    {#            <h5><?=htmlentities($comment->nom) ?> </h5>#}
    {#            <p><?=htmlentities($comment->texteCommentaire) ?>#}
    {#            <p>#}
    {#                <?php endforeach?>#}
    {#        </div>#}
    {#        <div class="container commentaires">#}
    {#            <h3>Ajouter un commentaire</h3>#}
    {#            <form action="index.php?module=mod_addCom&action=addComment&article={{ object.idarticle }}"#}
    {#                  method="post">#}
    {#                <div class="mb-3">#}
    {#                    <label for="exampleInputEmail1" class="form-label">Votre Commentaire</label>#}
    {#                    <textarea class="form-control" name="formCommentaire" id="formCommentaire" rows="3"></textarea>#}
    {#                    <div id="emailHelp" class="form-text">Vous devez vous connecter pour publier un commentaire.</div>#}
    {#                </div>#}
    {##}
    {#                <input class="btn btn-primary" type="submit" value="Envoyer">#}
    {#            </form>#}
    {#        </div>#}
    {##}
    {#    </div>#}
    {##}
    {#    <div class="container" style="background-color:#f4f4f3">#}
    {#        <h3>Vous aimerez aussi :</h3>#}
    {#        <div class="row">#}
    {##}
    {#            <?php foreach($dataArts as $articles): ?>#}
    {#            <div class="col-md-2">#}
    {#                <div class="container listeJeux">#}
    {#                    <a href="index.php?module=mod_article&action=affichePageProduit&nom=<?= htmlentities($articles->nom)?>"><img#}
    {#                            src="<?=htmlentities($articles->url) ?>" class="articles_image" alt=""/></a>#}
    {#                    <div class="info_produit">#}
    {#                        <h4><?= htmlentities($articles->nom)?></h4>#}
    {#                        <hr>#}
    {#                        <h5><?= htmlentities($articles->prix)?> €</h5>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <?php endforeach?>#}
    {#        </div>#}


</main>
</body>
{% include 'footer.html' %}
