{% include 'header.html' %}

<body>

{% if not connected %}
    <div id="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
        <button id="toggle" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>Veuillez vous connecter</strong>
    </div>
{% endif %}

<main class="container">
    <div class="container">
        <div class="row">
            <h1 id="titreArticle">{{ object.nom }} </h1>
            <div class="col-4"><img class="img-fluid imgArticle" data-image="black"
                                    src="{{ object.url }}" alt="">
            </div>
            <div class="div col-4">
                <span class="span">
                    <div class="row">
                    <div class="product-infos col">
                        <div class="" style="line-height: 30px">
                            <span class="span">
                                {{ object.prix }} €
                            </span>
                        </div>
                    </div>
                    <div class="product-infos col">
                        {% if user.is_superuser %}
                            <form action="article.html/buy?product={{ object.idarticle }}" method="get">
                            <input id="product" type="text" name="product" value="{{ object.idarticle }}" hidden="True">
                            <input class="btn btn-primary" type="submit" value="Achat">
                        </form>
                        {% endif %}
                    </div>
                    <div class="product-infos col-6">
                        <form action="/article/article.html/add_cart?product={{ object.idarticle }}" method="get">
                            <input id="product" type="text" name="product" value="{{ object.idarticle }}" hidden="True">
                            <input class="btn btn-primary" type="submit" value="Ajouter au panier">
                        </form>
                    </div>
                </div>
                </span>
            </div>

        </div>
    </div>

    <div class="product-description desc">
        <h3>Description :</h3>
        <p>{{ object.description }}</p>
    </div>

    <section class="comments_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6 col-12 pb-4">
                    <h1 style="color:black">Commentaires</h1>
                    {% for key,value in comments.items %}
                        <div class="text-justify darker mt-4 float-right" style="width: 100%"><img
                                src="https://i.imgur.com/CFpa3nK.jpg" alt=""
                                class="rounded-circle" width="40"
                                height="40">
                            <h4>{{ value.username }}</h4> <span>- {{ value.date }}</span> <br>
                            <p>{{ value.text }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                    <form method="post" id="plugin-form"
                          action="/article/article.html/add_comment?product={{ object.idarticle }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <h4>Laisser un commentaire</h4> <label for="message">Commentaire</label>
                            {% if request.user.is_authenticated %}
                                <textarea name="msg" id=""
                                          cols="30" rows="5"
                                          class="form-control"
                                          style="background-color: black;color:white">
                                </textarea>
                            {% else %}
                                <textarea disabled placeholder="Veuillez vous connecter pour commenter" name="msg" id=""
                                          cols="30" rows="5" class="form-control"
                                          style="background-color: black;color:white"></textarea>
                            {% endif %}
                        </div>
                        {% if request.user.is_authenticated %}
                            <div class="form-group">
                                <button type="submit" id="post" class="btn">Ajouter un commentaire</button>
                            </div>
                        {% else %}
                            <div class="form-group"></div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
</body>

<script>
    const targetDiv = document.getElementById("alert");
    const btn = document.getElementById("toggle");
    btn.onclick = function () {
        if (targetDiv.style.display !== "none") {
            targetDiv.style.display = "none";
        } else {
            targetDiv.style.display = "block";
        }
    };
</script>
{% include 'footer.html' %}
